<nav class="navbar is-spaced is-flex is-justify-content-space-between" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <span class="navbar-item">
      <span class="icon-text is-size-4">
        <span class="icon">
          <img src="/assets/svg/notification.svg" alt="" width="100" height="100">
        </span>
        <span>Monitor de vacinas</span>
      </span>
    </span>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a href="http://gti.serra.es.gov.br/saude" target="_blank" class="button is-hidden-mobile is-link">
          <div class="icon-text">
            <span class="icon">
              <i class="fa fa-external-link-square-alt"></i>
            </span>
            <span>Agendamento</span>
          </div>
        </a>
        <a #agendamentoIcon href="http://gti.serra.es.gov.br/saude" target="_blank" class="button is-hidden-tablet is-link">
          <span class="icon is-size-5-mobile">
            <i class="fa fa-external-link-square-alt"></i>
          </span>
        </a>
        <div #agendamentoTooltip id="tooltip" role="tooltip" class="is-hidden-tablet">
          Agendamento
          <div id="arrow" data-popper-arrow></div>
        </div>
      </div>
    </div>
  </div>
</nav>
